[submodule "evals/LiveCodeBench"]
	path = evals/benchmarks/LiveCodeBench
	url = https://github.com/LiveCodeBench/LiveCodeBench.git
[submodule "evals/simple-evals"]
	path = evals/benchmarks/simple-evals
	url = https://github.com/openai/simple-evals.git
